/* цвет лого черная часть #000000
/* цвет лого второй #2196F3 */

/* голубой #2196F3 */

/* белый #FFFFFF */

/* заголовки #212121 */

/* текст #757575 */
/* вторичный цвет rgba(33, 33, 33, 1) */

body {
  background-color: #fff;
  color: rgba(33, 33, 33, 1);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo :hover,
.logo :focus {
  color: #2196f3;
}
.logo-header {
  color: #000000;
}
/* Site nav */
.site-nav {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}
.site-nav .link.current,
.auth-nav .link.current {
  color: #2196f3;
}
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav :hover,
.auth-nav :focus {
  color: #2196f3;
}

/* Оформление hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border-color: transparent;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button :hover,
.button :focus {
  color: 188CE8;
}

/* Оформление section */
.section-subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.gallery {
  background-color: #f5f4fa;
}
.gallery-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.gallery-subtitle {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.text {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Футер */
footer {
  background-color: #2f303a;
}
.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-link {
  color: #ffffff;
}
.footer-list {
  color: rgba(255, 255, 255, 0.6);
}
.footer :hover,
.footer :focus {
  color: #2196f3;
}
.logo-footer {
  color: #ffffff;
}
