/* цвет лого черная часть #000000
/* цвет лого второй #2196F3 */

/* голубой #2196F3 */

/* белый #FFFFFF */

/* заголовки #212121 */

/* текст #757575 */
/* вторичный цвет rgba(33, 33, 33, 1) */

body {
  background-color: #fff;
  color: rgba(33, 33, 33, 1);
}

ul {
  list-style: none;
}
.logo {
  color: #2196f3;
}

/* Site nav */
.site-nav {
  color: #212121;
}
.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}
.site-nav .link.current,
.auth-nav .link.current {
  color: #2196f3;
}
.auth-nav :hover,
.auth-nav :focus {
  color: #2196f3;
}

/* Оформление hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border-color: transparent;
}
.button :hover,
.button :focus {
  color: 188CE8;
}

/* Оформление section */
.section-subtitle {
  color: #212121;
}
p {
  color: #757575;
}
.section-team {
  background-color: #f5f4fa;
}
.section-title {
  color: #212121;
}
/* Футер */
footer {
  background-color: #2f303a;
}
.footer-link {
  color: #ffffff;
}
.footer-list {
  color: rgba(255, 255, 255, 0.6);
}
.footer :hover,
.footer :focus {
  color: #2196f3;
}
